body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  margin: 40px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(238, 236, 238);
  color: rgb(16, 24, 53);
  height: 400px;
}

.cuerpo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#alpaca-avatar {
  width: 250px;
  height: auto;
  border: 3px solid;
}

.categorias {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 420px;
}

.categorias-titulo {
  margin-top: 0px;
}

.categorias-botones {
  display: flex;
  gap: 10px;
  border-bottom: solid 3px rgb(16, 24, 53);
}

.categorias-opciones {
  border: none;
  font-size: medium;
  font-weight: 500;
  padding: 4px;
  width: max-content;
  cursor: pointer;
}

.categorias-opciones:hover {
  background-color: rgb(16, 24, 53); 
  color: rgb(238, 236, 238);
  transform: scale(1.2);
}

.disenos {
  margin: 5px 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.diseno-boton {
  border: none;
  padding: 7px;
  font-size: small;
  font-weight: 300;
  cursor: pointer;
}

.diseno-boton:hover {
  transform: scale(1.2);
  background-color: rgb(238, 236, 238);
}